.vs/rust/FileContentIndex/8c3163aa-9bbc-4779-a6da-d5b0d1795c07.vsidx
.vs/rust/FileContentIndex/0b726d15-2a96-45b0-aa38-62c20c748cf9.vsidx
.vs/rust/FileContentIndex/2d84f2a2-3614-4d6d-87cb-e5ead440fbd2.vsidx
.vs/rust/FileContentIndex/2dfca114-dd13-438c-981b-26126da7ed0c.vsidx
.vs/rust/FileContentIndex/584a108b-d8c4-42e5-9f24-2a87044e00a7.vsidx
.vs/rust/FileContentIndex/6d2f294e-2a10-415c-9bab-81999057dd2a.vsidx
.vs/rust/FileContentIndex/eef14d2a-34ec-4659-b7ed-e3bf3322f6fd.vsidx
quickreplace/target/debug/.fingerprint/aho-corasick-ae09c346631f354e/lib-aho_corasick.json
quickreplace/target/debug/
.vs/rust/FileContentIndex/
hello/target/
helloworld/target/
project-1-type/target/
getinfo/target/debug/.fingerprint/
getinfo/target/debug/
project-1/target/debug/
project-2/target/
project-3/target/debug/
project-4/target/debug/
project-5/target/debug/
project-6/target/debug/
project-7/target/debug/
project-8/target/
